@font-face {
    font-family: 'Yahfie';
    src: url('Yahfie.woff2') format('woff2'),
        url('Yahfie.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

